.exemple {
    display: inline-block;
    width: 65px;
}
.latable {
    margin: 20px 0 20px 0;
    padding: 10px;
}
.widget {
    font-size: 12px;
    font-weight: bold;
}
.widgettitle {
    font-size: 14px;
    font-weight: bold;
    color: blueviolet;
    text-transform: uppercase;
}
a  {
    list-style-type: none;
    text-decoration: none;
    background-color: transparent;
}
.widget ol,
.widget ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.widget select {
    max-width: 100%;
}
article {
    float: left;
    margin: 0 20px 5px 0;
    width: 100%;
}
#titre_marque {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
    font-weight: bold;
}
#marque {
    display: inline-block;
    width: 120px;
}
#titre_modele {
    display: inline-block;
    width: 175px;
    font-weight: bold;
}
#titre_modele2 {
    display: inline-block;
    width: 175px;
    font-weight: bold;
}
#modele {
    display: inline-block;
    width: 175px;
}
#titre_annee {
    display: inline-block;
    width: 65px;
    font-weight: bold;
}
#annee {
    display: inline-block;
    width: 65px;
}
#titre_type {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
#type {
    display: inline-block;
    width: 100px;
}
#titre_options {
    display: inline-block;
    width: 260px;
    font-weight: bold;
}
#options {
    display: inline-block;
    width: 260px;
}
#titre_pneu {
    display: inline-block;
    width: 70px;
    font-weight: bold;
}
#pneu {
    display: inline-block;
    width: 70px;
}
#titre_widget {
    width: 100%;
}
.wf-active .widget-title {
    width: 100%;
    text-transform: none!important;
}
#box-container {
    position: fixed;
    z-index: 222;
    top: 230px;
    left: 130px;
    width: 850px;
    background-color: white;
    padding-bottom: 30px;
    border: 3px solid black;
    max-height: 270px;
    overflow: auto;
}
#resultat {
    margin-left: 10px;
    font-size:13px;
}
#listecomplete {
    padding: 15px;
    background-color: white;
    position: fixed;
    overflow: auto;
    max-height: 500px;
    width: 835px;
    border: 3px solid black;
    margin: 15px;
}
#rien {
    padding-left: 10px;
}